# Environment variables
*.env
**/*.env

# Dependency directory
node_modules/

# macOS system files
.DS_Store

# Logs
*.log

# Optional: IDE-specific files
.idea/
*.code-workspace
.vscode/

# Test configuration
tests/setup.js