files:
  /etc/nginx/conf.d/nginx.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      server {
        listen 443 ssl;
        server_name api.openmicguru.com;

        ssl_certificate /etc/pki/tls/certs/server.crt;
        ssl_certificate_key /etc/pki/tls/certs/server.key;

        location /health {
          access_log off;
          return 200 '{"status":"healthy"}';
          add_header Content-Type application/json;
        }
      }