.venue-autocomplete
    position: relative
    display: flex
    align-items: center

    &__input
        flex-grow: 1

    &__cancel-button
        position: absolute
        right: 0
        border: none
        background: none
        cursor: pointer
