@import '../../../styles/variables'
@import '../../../styles/mixins'

.border-box
    width: 100%
    max-width: $container-max-width
    margin: $spacing-sm auto
    padding: $spacing-md
    border: 1px solid $color-black
    border-radius: $border-radius-md
    position: relative
    box-sizing: border-box

    +media-up($lg)
        border-radius: $border-radius-xl
        padding: $spacing-lg $spacing-xl

    &__icons
        position: absolute
        top: $spacing-md
        right: $spacing-md
        +flex

    &__icon-button
        +button-icon
        
        +media-up($lg)
            width: 40px
            height: 40px
        
        width: 30px
        height: 30px

        &:focus-visible,
        &:hover
            background: none
            .edit-icon-stroke
                stroke: $text-secondary
            .delete-icon-stroke
                stroke: $color-danger

    &__icon
        +media-up($lg)
            width: 24px
            height: 24px
        width: 20px
        height: 20px

        path
            stroke: $color-black
