files:
    "/opt/elasticbeanstalk/hooks/appdeploy/post/99_nginx_logs.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/usr/bin/env bash
            echo "Nginx Configuration:"
            cat /etc/nginx/conf.d/proxy.conf
            echo "Nginx Status:"
            systemctl status nginx
            echo "Nginx Error Log:"
            tail -n 50 /var/log/nginx/error.log
            echo "Node Process:"
            ps aux | grep node