@import '../../styles/extensions'

.event-details
    &__container
        @extend %border-box
        max-width: 600px

    &__title
        color: #333
        text-align: center

    &__info
        color: #666

    &__lineup
        &__row
            cursor: pointer
            &:hover
                background-color: #f0f0f0

        &__row--selected
            background-color: #b0c4de

    &__modal
        position: fixed
        top: 0
        left: 0
        width: 100%
        height: 100%
        background-color: rgba(0, 0, 0, 0.5)
        display: flex
        justify-content: center
        align-items: center

    &__modal-content
        @extend %border-box
        background: white
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1)

    &__edit
        position: absolute
        top: 10px
        right: 10px
        background: none
        border: none
        padding: 0
        width: 40px
        height: 40px

        &:focus-visible,
        &:hover
            background: none
            .icon-stroke
                stroke: gray

    &__map-container
        display: flex
        justify-content: center

    tr
        text-align: left

