@import '../../styles/mixins'

.event-card
    background: white
    padding: 0.75rem
    width: 100%
    overflow: hidden

    &--cancelled
        opacity: .75
        filter: saturate(50%)
        background-color: rgba(#ff8787, .2)

        .event-card__content
            filter: saturate(0%)

    &__link
        text-decoration: none
        color: inherit
        padding: 0 !important
        margin: 0 !important

    &--compact
        background: none
        padding: 0.5rem 0
        border: none
        box-shadow: none

        .event-card__title
            font-size: 1rem

        .event-card__info
            font-size: 0.85rem
            margin-bottom: 0.25rem

        .event-card__meta
            font-size: 0.75rem
            justify-content: flex-start

    &__title
        font-size: 1.1rem
        font-weight: 600
        color: #333
        margin-bottom: 0.25rem
        text-decoration: none

    &__meta-item
        position: relative
        font-size: 0.8rem
        color: #666
        text-decoration: none

        &--type
            font-weight: 600

    &__venue-link
        color: #0066cc
        text-decoration: none

        &:focus-visible,
        &:hover
            text-decoration: underline

    &__slot-time
        font-weight: 500

    &__wrapper
        position: relative

    &__role
        position: absolute
        top: -.75rem
        right: 0.5rem
        z-index: 1

    &__role-badge
        font-size: 0.7rem
        padding: 0.2rem 0.5rem
        border-radius: 12px
        text-transform: uppercase
        font-weight: 600

        &.host
            background-color: #f3e5f5
            color: #7b1fa2

        &.performer
            background-color: #e3f2fd
            color: #1976d2

    &__host-link
        color: #0066cc
        text-decoration: none
        font-weight: 500

        &:focus-visible,
        &:hover
            text-decoration: underline

    &__details
        flex-grow: 1
        display: flex
        flex-direction: column

        &--with-image
            text-align: left

    &__content
        display: flex
        align-items: center
        gap: 3rem
        width: 100%

        @media (max-width: 500px)
            gap: 1rem

    &__image-container
        flex-shrink: 0
        border-radius: 8px
        height: 130px
        width: auto
        aspect-ratio: 1
        max-height: 100%
        overflow: hidden

        @media (max-width: 500px)
            height: 110px

    &__image
        aspect-ratio: 1
        height: 100%
        object-fit: cover
        object-position: center

    &__status-banner
        background-color: #dc3545
        color: white
        text-align: center
        padding: 0.25rem
        font-weight: 600
        font-size: 0.9rem
        border-radius: 4px
        margin-bottom: 0.25rem
