.events-page
  max-width: 800px
  margin: 0 auto

  &__section
    margin-bottom: 3rem

  &__title
    text-align: center
    margin-top: 1rem
    font-size: 2rem
    color: #333

  &__grid
    display: grid
    gap: .5rem
    //grid-template-columns: repeat(auto-fill, minmax(300px, 1fr))
