.events-page
  max-width: 800px
  margin: 0 auto

  &__section
    margin-bottom: 3rem

    &:last-child
      margin-bottom: 0

  &__title
    text-align: center
    margin-top: 1rem
    margin-bottom: 1.5rem
    font-size: 2rem
    color: #333

    &--past
      margin-top: 3rem

  &__border-box
    background: #f6f6f6

  &__map-section
    display: flex
    flex-direction: column
    align-items: center
    gap: 1rem

  &__search
    display: flex
    justify-content: center
    width: 100%

  &__selected-event
    width: 100%

  &__grid
    display: grid
    gap: .5rem
    margin-top: 1rem
