.notification-indicator
    display: flex
    position: relative
    min-width: 26px
    height: 26px
    color: rgba(255, 255, 255, 0.7)
    text-decoration: none
    align-items: center
    transition: color 0.2s ease

    &:focus-visible,
    &:hover
        color: #fff

    .notification-indicator__fa-bell
        font-size: 18px

    &__badge
        position: absolute
        top: 50%
        right: 0
        transform: translateY(-50%)
        background-color: #ff4444
        color: white
        border-radius: 50%
        font-size: 14px
        min-width: 26px
        height: 26px
        display: flex
        align-items: center
        justify-content: center

        &--empty
            background-color: #b4b4b4
