@import '../../styles/variables'
@import '../../styles/mixins'

.notification-indicator
    +flex($align: center)
    position: relative
    min-width: 26px
    height: 26px
    color: rgba($color-white, 0.7)
    text-decoration: none
    transition: color $transition-fast

    &:focus-visible,
    &:hover
        color: $color-white

    .notification-indicator__fa-bell
        font-size: $font-size-lg

    &__badge
        +notification-badge

        &--empty
            background-color: $text-muted
            color: $color-white
